<%- include('./components/header.ejs') %>

<form action="/checkEMailForgetPasswordAndSendOtp" method="POST">
    <h3 class="text-center mb-3">Forget Password</h3>
    <% if(succMessage.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <i class="fa-solid fa-circle-check"></i> <%= succMessage %>
        </div>
    <% } %>
    <% if(errMsg.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-xmark"></i> <%= errMsg %>
        </div>
    <% } %>
    <div class="mb-3 d-flex gap-2 align-items-center">
        <i class="fa-solid fa-envelope fs-4 text-theme-2"></i> <input type="text" class="form-control form-control-sm" name="email" id="email" placeholder="Enter Email*">
    </div>
    <button type="submit" class="btn btn-sm btn-theme-2 w-100">Send OTP</button>
</form>

<%- include('./components/footer.ejs') %>