<%- include('./components/header.ejs') %>

<form action="/updatePasswordForForgetPassword" method="POST">
    <h3 class="text-center mb-3">Create New Password</h3>
    <% if(succMessage.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <i class="fa-solid fa-circle-check"></i> <%= succMessage %>
        </div>
    <% } %>
    <% if(errMsg.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-xmark"></i> <%= errMsg %>
        </div>
    <% } %>
    <div class="mb-3 d-flex gap-2 align-items-center">
        <i class="fa-solid fa-envelope fs-4 text-theme-2"></i> <input type="text" class="form-control form-control-sm" name="password" placeholder="Enter New Password*">
    </div>
    <div class="mb-3">
        <div class="input-group">
            <i class="fa-solid fa-key fs-4 text-theme-2 me-2"></i> <input type="password" class="form-control form-control-sm" name="conPassword" id="password" placeholder="Enter Confirm Password*">
            <div class="input-group-append">
                <span class="input-group-text" id="show-password">
                    <i class="fa-regular fa-eye" id="password-eye"></i>
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-theme-2 w-100">Save</button>
</form>

<%- include('./components/footer.ejs') %>