<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ophthalmologist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            font-family: Consolas;
        }
        .bg-theme-1 {
            background-color: #dbd8e3;
        }

        .bg-theme-2 {
            background-color: #5c5470;
        }

        .bg-theme-3 {
            background-color: #352f44;
        }

        .text-theme-1 {
            color: #dbd8e3;
        }

        .text-theme-2 {
            color: #5c5470;
        }

        .text-theme-3 {
            color: #352f44;
        }

        .btn-theme-1 {
            background-color: #dbd8e3;
            border: 1px solid #dbd8e3;
            color: #5c5470;
        }

        .btn-theme-1:hover {
            color: #dbd8e3;
            border: 1px solid #dbd8e3;
            background-color: #5c5470;
        }

        .btn-theme-2 {
            background-color: #5c5470;
            border: 1px solid #5c5470;
            color: #dbd8e3;
        }

        .btn-theme-2:hover {
            color: #5c5470;
            border: 1px solid #5c5470;
            background-color: #dbd8e3;
        }

        .centerStyle {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .formBox {
            border: 5px solid #5c5470;
            padding: 30px;
            border-radius: 0 35px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }

        #show-password {
            cursor: pointer;
        }

        #password-eye {
            cursor: pointer;
        }

        .form-control:focus {
            border: 1px solid #5c5470 !important;
            box-shadow: none !important;
        }
    </style>
</head>
<body class="bg-theme-1">
    <div class="container-fluid">
        <div class="row centerStyle">
            <div class="col-md-4"></div>
            <div class="col-md-4 formBox">